<!-- SHOWCASE SLIDER -->
<section id="showcase">
  <div id="myCarousel" class="carousel slide" data-ride='carousel'>
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to='0' class='active'></li>
      <li data-target="#myCarousel" data-slide-to='1'></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item carousel-image-1 active">
        <div class="container">
          <div class="carousel-caption d-none d-sm-block text-right mb-5">
            <h1 class="display-3">Encuentra tu Menu</h1>
            <p class="lead">Descubre los mejores menús del día de los restaurántes cerca de ti</p>
            <a href="#" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#loginModal"
              href='/auth/signup-user'>Inicia Sesión</a>
          </div>
        </div>
      </div>
      <div class="carousel-item carousel-image-2">
        <div class="container">
          <div class="carousel-caption d-none d-sm-block mb-5">
            <h1 class="display-3">Eres un restaurante</h1>
            <p class="lead">Con nosotros, podrás </p>
            <a href="#" class="btn btn-primary btn-lg">Entrá y descúbrelo</a>
          </div>
        </div>
      </div>

    </div>
    <a href="#myCarousel" data-slide='prev' class="carousel-control-prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a href="#myCarousel" data-slide='next' class="carousel-control-next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
</section>

<div class="container">

  <a class='btn btn-primary' href='/restaurant-signup'>regístra tu negocio</a>
  <a class='btn btn-primary' data-toggle="modal" data-target="#loginModal" href='/auth/signup-user'>Inicia Sesión</a>

  {{#if message}}
  <p style="color: red">{{ message }}</p>
  {{/if}}
  <button>Registrar</button>



</div>

<div class="modal" id="loginModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Login</h5>
        <button class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form action="/login-user" method="POST">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="Username" class="form-control">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Password" class="form-control">
          </div>
          <p>Aun no tienes cuenta <a href="/user-signup">Regístrate</a></p>
          <div class="modal-footer">
            {{#if message}}
            <p style="color: red">{{ message }}</p>
            {{/if}}
            <button class="btn btn-primary" type="submit">Login</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>