<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>

  {{{body}}}

  <a href="/">Inicio</a> | <a href="/login">Login</a> | <a href="/logout">Logout</a> | <a href="/signup">Sugnup</a> | <a
    href="/profile">Perfil</a>

  <br><br>

  <a href="/view-documentation">Ver documentación</a> | <a href="/edit-documentation">Editar documentación</a> | <a
    href="/remove-documentation">Suprimir documentación</a>

  <script src="/javascripts/script.js"></script>
</body>

</html>