<h1>Bienvenido {{name}}</h1>
<p>Email:{{email}}</p>
<p>Telefono: {{phone}}</p>

<article>
    <h2>Restaurantes favoritos:</h2>

    <p>
    {{#each favourites}}
    {{/each}}

    </p>
        
        

   

</article>





<h1>y aquí su localización en el mapa</h1>

<div id="restaurantsMap"></div>




<script src="/javascripts/mapUser.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{key}}&callback=initMap"></script>