
<h1>hola aquí va la lista de restaurantes a tu alrededor</h1>





<h1>y aquí su localización en el mapa</h1>

<div id="restaurantsMap"></div>




<script src="/javascripts/mapUser.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{key}}&callback=initMap"></script>
