<div class= 'container'>
    <h1>Aquí tienes tus pedidos</h1>
    <div>
        <div id='lista'class='mt-5' >
            


        </div>
            
        </ul>
    </div>
</div>







<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/javascripts/update.userPosition.js"></script>
<script src="/javascripts/orders.js"></script>